apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-ehtp
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-drqj-tenant/quarkus/devfile-sample-code-with-quarkus-ehtp@sha256:ec907ea40fa50e1829fa6acc9603162a07dbddd7b9df39275add9876743b4fe1
        name: my-java-quarkus
        resources: {}
status: {}
